
    <div class="header-container">
    
        <mat-toolbar>
          <strong>
             COMMUNITY_NAME
          </strong></mat-toolbar>
        <mat-icon>build</mat-icon>
       
        
         </div><br>
     
         <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar class="card-header-image"></div>
              <mat-card-title><b>Swedha</b></mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
           
          </mat-card>
          <br>
          <div class="b">
          <mat-card>Hi</mat-card>
          <br>
          <br>
          <br>
          <br>
          <br>
          <mat-card>gud morg</mat-card>
          <br>
          <br>
          <br>
          <br>
          <br>
          <mat-card>gud afternoon</mat-card>
          <br>
          <br>
          <br>
          <br>
          <br>
          <mat-card>gud nite</mat-card>
          <br>
          <br>
          <br>
          <br>
          <br>
          <mat-card>sweet dreams</mat-card>
          <br>
          <br>
          <br>
          </div>
          
          
          <br>
          <br>
          <br>
          <br>
          <br>
          <app-card2></app-card2>
          <div class="footer">
          <form class="text">
              <button><mat-icon>add</mat-icon></button>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="your message" maxlength="100px">
               
              </mat-form-field>  
                  <button><mat-icon>sentiment_satisfied_alt</mat-icon></button>
                  <button><mat-icon>alternate_email</mat-icon></button>
                  <button><mat-icon>send</mat-icon></button>
              
             
            
            </form> 
            </div>
            
