div.b {
    float: left;
    
}

 
 
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card {
    
    max-width: 4000px;
    
  }
  
  .card-header-image {
    background-image: url('https://www.professionalwriter.com.au/wp-content/uploads/2016/03/Business-lady-small-1024x682.jpg');
    background-size: cover;
  }

  .text{
    margin-inline-start: 50px;
    transition : 2000px;
  }
  
  .text mat-form-field{
    margin-inline-start: 15px;
    margin-inline-end: 15px;
  }
  
  .text mat-icon{
    size: 10px;
  } 
  .header-container{
    height: auto;
    text-decoration: none;
    
  }
  .header-container .mat-mini-fab{
  
    margin-inline-start: 45px;
    
  }
  
  
  
  