<p>
    sidebar-component works!
</p>
<br>

<mat-form-field class="search-bar">
    <input matInput type="text" placeholder="Search for people, channels" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
    <!-- <mat-icon matTooltip="search">search</mat-icon> -->
    <!-- <span class="spacer"></span> -->
    <!-- <button mat-button matSuffix>
        
    </button> -->
    <!--     -->
</mat-form-field>

<br>
<br>




<app-channels></app-channels><br>
<app-people></app-people>