.channel {
    text-align: center;
}

.create-channel {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
}

.button-row button,
.button-row {
    margin: 8px;
    float: right;
}

mat-form-field {
    width: 100%;
}
