<div class="mat-toolbar">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span *ngIf="userService.receiver; else recipientName"> {{userService.receiver}} </span>
            <ng-template #recipientName><< Recipient name >></ng-template>
            <span class="spacer"></span>
            <mat-icon class="icon" matTooltip="Search">search</mat-icon>
            <mat-icon class="icon" matTooltip="Settings">settings</mat-icon>
            <mat-icon class="icon" matTooltip="More options">more_vert</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
</div>