.heading {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
}

.login-form > * {
    width: 100%;
}

.button-row button,
.button-row a {
    margin-right: 8px;
}

#login {
    float: left;
}

#register {
    float: right;
}