.form-field {
    width: 72%;
    padding-left: 8px;
    padding-right: 8px;
}

.send-btn {
    width: 8%;
    color: indigo;
    padding-left: 8px;
    padding-right: 8px;
}

.spacer {
    flex: 1 1 auto;
}