.sidenav-container {
  height: 90%;
  background-color: white;
  
}

.sidenav {
  
  height: auto;
  width: 250px;
  box-shadow: 1px 0 3px black;
  background-color: royalblue;
  font-family: 'Times New Roman', Times, serif;
  
  
}

/* .header-container{
  height: auto;
  text-decoration: none;
  
}
.header-container .mat-mini-fab{

  margin-inline-start: 45px;
  
}


 */

.mat-toolbar {
  background-color: royalblue;
  box-shadow: 1px 1 2px black;
  color: white;
  height: 70px;
}

.mat-icon{
  padding: 0 14px;
}

.example-spacer{
  flex: 1 1 auto;
}
  
.container-channel a{
  color: white;
  
}




.container-people a{
  color: white;
}

