<div class="container-channel">
    <mat-nav-list>
        <strong>
            <a mat-list-item>
                CHANNELS
                <span class="spacer"></span> <!--spacer for space b/w text and icon-->
                <mat-icon matTooltip="Create a Channel">add_circle_outline</mat-icon>
            </a>
        </strong>

        <!--implement for loop here for multiple channels-->
        <mat-list-item>
           << channel name here >>
        </mat-list-item>
    </mat-nav-list>
</div>