<div class="container-channel">
    <mat-nav-list>
        <strong>
            <mat-list-item>
                Channels
                <span class="spacer"></span>
                <button mat-icon-button (click)="createChannel()">
                    <mat-icon class="icon" matTooltip="Create a Channel">add_circle_outline</mat-icon>
                </button>
            </mat-list-item>
        </strong>
        <div *ngFor="let channel of channels">
            <mat-list-item>
                {{channel.channelName}}
            </mat-list-item>
        </div>
    </mat-nav-list>
</div>