<div class="container-channel">
    <mat-nav-list>
        <strong>
            <mat-list-item>
                Channels
                <span class="spacer"></span>
                <button mat-icon-button (click)="createChannel()">
                    <mat-icon class="icon" matTooltip="Create a Channel">add_circle_outline</mat-icon>
                </button>
            </mat-list-item>
        </strong>
        <div *ngFor="let channel of channelService.channels">
            <mat-list-item (click)="setupChannel(channel)">
                {{channel.channelName}}
                <span class="spacer"></span>
                <div *ngIf="(messageService.channelNotification.isActive)&&(messageService.channelNotification.channelId===channel.channelId)&&(messageService.sender.userId!==messageService.channelNotification.senderId)">
                    <mat-icon class="notif-icon">
                        fiber_manual_record
                    </mat-icon>
                </div>
            </mat-list-item>
        </div>
    </mat-nav-list>
</div>