.main-component-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eeeeee;
}

.sideNav {
    /*width: auto;*/
    padding-left: 10px;
    padding-right: 10px;
}