<div class="container-people">
    <mat-nav-list>
        <strong>
            <a mat-list-item>
                PEOPLE
                <span class="spacer"></span> <!--spacer for space b/w text and icon-->
                <mat-icon matTooltip="New Chat">add_circle_outline</mat-icon>
            </a>
        </strong>

        <!--implement for loop for multiple people-->
        <div *ngFor="let user of users">
            <mat-list-item (click)="setReceiver(user.name)">
                <p>
                    {{ user.name }}
                </p>
            </mat-list-item>
        </div>
    </mat-nav-list>
</div>