<mat-toolbar color="primary" class="tool">
  <mat-toolbar-row>
    <span>TLDM</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <a mat-button #GetStart routerLink="/login" id="getstart">Get Started</a>
    <button mat-button #About>About</button>
    <button mat-button #solutions>Solutions</button>
 
 
  </mat-toolbar-row>
 </mat-toolbar>
 
 
 
 
 <mat-card class="example-card">
  <mat-card-header>
   <div mat-card-avatar class="header-image"></div>
    <h1>Getting started with TLDM</h1>
  </mat-card-header>
  <mat-card-subtitle>TLDM is a place where your team comes together to collaborate, important information can be found
    by the right people, and your tools pipe in information when and where you need it.</mat-card-subtitle>
  <img mat-card-image src="../../assets/img/tldm-head.jpg" alt="tldm intro image">
  <mat-card-content>
    <p>
                  Communication in TLDM happens in channels, organized by project, topic, team, or whatever makes sense for
      you.Conversations in TLDM are searchable by everyone, so you can tap into company knowledge and find information
      when you need it.TLDM works with the tools and services you already use every day. Pipe in information or take
      action without leaving TLDM.We take security seriously at TLDM. We offer measures like 2FA and SSO to ensure the
      safety of your data and protect your organization.Connect your conversations with the tools and services that you
      use to get the job done. With over 1,500 apps and a robust API, the TLDM platform team works with partners and
      developers globally to build apps and integrations that streamline your work, automate mundane tasks and bring
      context into your conversations in TLDM.Across our offices, teams at TLDM come together with a shared purpose.
      We believe everyone deserves to work in a welcoming, respectful, and empathetic culture, and we work hard to make
      sure everyone at TLDM has the support they need to thrive. Join us and do the best work of your life.
 
 
    </p>
 
  </mat-card-content>
 
 </mat-card>
 
 
 <mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
    <h3>@tldm 2018</h3>
  </mat-toolbar-row>
 </mat-toolbar>