.message-area {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 5px;

}

.message {
    width: 100rem;
    padding: 20px;
    margin: 8px;
    justify-content: center;
}

.sender {
    /*float: right;*/
    /*text-align: end;*/
}

.receiver {
    /*float: left;*/
    /*text-align: start;*/
}

.time-stamp {
    float: right;
}