<!--implement for loop here for multiple messages-->

<div *ngIf="((messageService.receiver)||(channelService.isChannelActive)); else splash">
    <div *ngIf="(channelService.isChannelActive); then channel else user"></div>

    <!--this template displays channel perspective messages-->
    <ng-template #channel>
        <div class="message-area">
            <!--div for displaying messages fetched from database-->
            <div class="database">
                <div *ngFor="let msg of messageService.channelMessages">
                    <div [className]="msg.sender.userId===messageService.sender.userId?'channel-outgoing':'channel-incoming'">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>
                                    {{msg.sender.userName}}
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="messages">
                                    <p>
                                        {{msg.messageContent}}
                                    </p>
                                </div>
                                <mat-divider></mat-divider>
                                <br>
                                <div class="time-stamp">
                                    {{msg.timestamp| date:'shortTime'}}
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>

            <!--div for displaying broadcasted messages-->
            <div class="socket">
                <div *ngFor="let msg of messageService.channelMessagesArr">
                    <div *ngIf="channelService.isAllowedForChannel">
                        <div [className]="msg.sender.userId===messageService.sender.userId?'channel-outgoing':'channel-incoming'">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>
                                        {{msg.sender.userName}}
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <div class="messages">
                                        <p>
                                            {{msg.messageContent}}
                                        </p>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <br>
                                    <div class="time-stamp">
                                        {{msg.timestamp| date:'shortTime'}}
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <!--this template displays user perspective messages-->
    <ng-template #user>
        <div class="message-area">
            <!--div for displaying messages fetched from database-->
            <div *ngIf="messageService.messages">
                <div *ngFor="let message of messageService.messages">
                    <div [className]="message.sender.userId===messageService.sender.userId?'sender':'recipient'">
                        <mat-card>
                            <div class="messages">
                                <p>
                                    {{message.messageContent}}
                                </p>
                            </div>
                            <mat-divider></mat-divider>
                            <br>
                            <div class="time-stamp">
                                {{message.timestamp| date:'shortTime'}}
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>

            <!--div for displaying broadcast messages-->
            <div *ngIf="(messageService.displayMessage.isDisplayed)&&(messageService.displayMessage.userId===messageService.receiver.userId)">
                <div *ngFor="let msg of messageService.messagesArr">
                    <div *ngIf="(msg.sender.userId===messageService.sender.userId)||(msg.receiver.userId===messageService.sender.userId)">
                        <div [className]="msg.sender.userId===messageService.sender.userId?'sender':'recipient'">
                            <mat-card>
                                <div class="messages">
                                    <p>
                                        {{msg.messageContent}}
                                    </p>
                                </div>
                                <mat-divider></mat-divider>
                                <br>
                                <div class="time-stamp">
                                    {{msg.timestamp| date:'shortTime'}}
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<ng-template #splash>
    <div class="splash">
        <p>
            Hello, please select a chat.
        </p>
        <p id="sub-text">
            (Chats are available through the side-navigation bar)
        </p>
    </div>
</ng-template>


