.message-area {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 8px;
}

.message {
    width: 60rem;
    padding: 20px;
    margin: 8px;
}

.sender {
    float: left;
}

.receiver {
    float: right;
}

