.message-area {
    margin-top: 72px;
    margin-bottom: 72px;
    padding: 8px;
}

.message {
    width: 50%;
    padding: 24px;
    margin: 8px;
}

.sender {
    width: 50%;
    padding: 24px;
    margin: 8px;
    float: right;
    text-align: end;
}

.recipient {
    width: 50%;
    padding: 24px;
    margin: 8px;
    float: left;
    text-align: start;
}

.time-stamp {
    float: right;
}