<!--implement for loop here for multiple messages-->
<div class="message-area">
    <mat-card class="message sender">
        <img matListAvatar src="https://via.placeholder.com/30x30" alt="sender-avatar"><br>
        <p>
            Hii, this is sender and waiting for your reply
            {{messageService.retrieveMessage()}}
        </p>
    </mat-card>

    <mat-card class="message receiver">
        <img matListAvatar src="https://via.placeholder.com/30x30" alt="receiver-avatar"><br>
        <p>
            Yeah !! got the message successfully
        </p>
    </mat-card>

    <mat-card class="message sender">
        <img matListAvatar src="https://via.placeholder.com/30x30" alt="sender-avatar"><br>
        <p>
            Will our sprint week-1 go well ?
        </p>
    </mat-card>

    <mat-card class="message receiver">
        <img matListAvatar src="https://via.placeholder.com/30x30" alt="receiver-avatar"><br>
        <p>
            I think so, <br> :-) <br> :-| <br> :-(
        </p>
    </mat-card>
</div>
