

 .form {
 
    width: auto;
    height: 390px;
    text-align: center;
   
    }
    
    .formheight{
      width:auto;
    }
    .p {
      font-family: 'Courier New', Courier, monospace;
      font-size: 200px;
    }